* {
  box-sizing: border-box;
}

body {
  background-color: #f7f8fc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
